.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 600px;
}

.about {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.aboutLeft .about-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutRight {
    padding-left: 30px;
}

.aboutRight h2 {
    font-size: 30px;
    max-width: 700px;
    margin: 10px auto;
}

.aboutRight .about-text {
    font-size: 19px;
    line-height: 1.4;
    margin-top: 15px;
}

/*****Media Query*******/
@media (max-width: 765px) {
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-container {
        width: auto;
        height: auto;
        margin-bottom: 50px;
    }

    .aboutLeft .about-img {
        width: 40%;
        margin: 0 auto;
    }

    .aboutRight {
        padding: 0 25px;
        text-align: center;
    }

    .aboutRight h3 {
        margin-top: 15px;
    }
}